html {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
*, *:before, *:after {
    box-sizing: inherit;

}

:root {
    --main-grey: #564a59;
    --light-grey: #a99bab;
    --pale-grey: #ece7ee;
    --teal-blue: #5490A0;
    --light-teal-blue: #69A4B5;
    --blue: #00a1e0ff;
    --light-blue: #45bdedff;
    --pale-blue: #ebf9ff;
    --red: #CC2836;
    --light-red: #DA4450;
    --pale-red: #FFEBEB;
    --green: #04b439;
    --light-green: #54cc78;
    --pale-green:#F4FAEF;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--main-grey);
    font-size: 16px;
    line-height: 1.5;
}

input, textarea {
    font-family: inherit;
    font-size: 0.9rem;
    color: var(--main-grey);
}

input:hover, textarea:hover {
    border: 1px solid var(--light-blue);
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--light-blue);
}

button {
    font-family: inherit;
    display: flex;
    align-items: center;
	justify-content: space-around;
	font-size: 1em;
    cursor: pointer;
	width: 80px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 3px;
    border: 0;
    color: white;
	background-color: var(--blue);
	transform: translate(0px, 0px);
	transition: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0.05s;
	opacity: 1;
}

button:hover {
    background-color: var(--light-blue);
    box-shadow: rgba(4, 74, 111, 0.5) 0px 10px 30px -15px;
    
}

@media (hover: none) {
    button:hover {
		color: #ffffff;
		background-color: #0789daff;
    }
}


/************** NAVIGATION BAR****************/

nav {
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(4, 74, 111, 0.5) 0px 0px 25px -15px;
}

.home {
    margin: 15px 0px 15px 20px;
}

.upper-right-nav-div {
    display: flex;
    align-items: center;
    margin: 15px 20px 15px 0px;
}

.upper-right-nav {
    margin-left: 20px;
}

.material-icons.upper-right-nav {
    cursor: pointer;
    font-size: 30px;
}

.sign-up-btn {
    background-color: var(--teal-blue);
}

.sign-up-btn:hover {
    background-color: var(--light-teal-blue);
}

.log-out-btn {
    background-color: var(--red);
}

.log-out-btn:hover {
    background-color: var(--light-red);
}


/************** MAIN SECTION ****************/

.main-section {
    display: flex;
    width: 100vw;
    height: Calc(100vh - 60px);
}

.typing-column-div {
    position: relative;
    flex-grow: 1;
}

.typing-column-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    /* transform: translateX(-200px); */
    margin: auto;
    margin-top: 150px;
}

.typing-column-container-item {
    margin: 20px 0px;
}

.input-text-div {
    position: relative;

}

.generate-new-input {
    width: 200px;
    color: var(--blue);
    background-color: white;
    border: 1px solid var(--light-blue);
    margin: 0px;
}

.generate-new-input:hover {
    background-color: var(--pale-blue);
    border: 1px solid var(--light-blue);
}

.input-text {
    /* position: absolute; */
    font-size: 1rem;
    line-height: inherit;
    width: 700px;
    font-family: 'Ubuntu Mono', monospace;
    border: 2px solid var(--pale-grey);
    border-radius: 5px;
    padding: 20px 20px;
    resize: vertical;
    /* background-color: var(--pale-red); */
    background-color: transparent;
    z-index: 1;
}

.persistent-placeholder {
    position: absolute;
    color: silver;
    font-size: 1rem;
    line-height: inherit;
    width: 700px;
    font-family: 'Ubuntu Mono', monospace;
    border: 2px solid var(--red);
    border-radius: 5px;
    padding: 20px 20px;
    resize:vertical;

    background-color: transparent;
    margin-top: 20px;
    z-index: 0;
}

.backspace {
    position: absolute;
}

.timer-and-reset-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timer {
    font-size: 1.6rem;
    color: var(--teal-blue);
    color: var(--red);

    font-family: 'Ubuntu Mono', monospace;
    margin-right: 25px;
}


.pause-timer {
    color: var(--blue);
    background-color: white;
    border: 1px solid var(--light-blue);
    margin-right: 20px;
}

.pause-timer:hover {
    background-color: var(--pale-blue);
}

@media (hover: none) {
    .generate-new-input:hover, .pause-timer:hover {
		color: var(--blue);
		background-color: white;
    }
}
    





/************** CHAT SECTION ****************/

.chat-column-div {
    padding: 90px 0px 0px 0px;
    /* position: fixed; */
    overflow: auto;
    right: 0;
    height: 100vh;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    background-color: white;
    box-shadow: rgba(4, 74, 111, 0.5) 0px 0px 30px -15px;
}

.message-board-div {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 40px 0px;
    box-shadow: rgba(4, 74, 111, 0.2) 0px 20px 30px -15px;
}

.message-board {
    margin: 0px 10px;
}

.all-chats-div {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.chat-div {
    flex-direction: column;
    margin: 0px 40px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid var(--light-teal-blue);
    border-radius: 5px;
    transition: 0.3s;
}

.owner {
    background-color: var(--pale-blue)
}

.chat-user {
    color: var(--teal-blue);
    font-weight: 600;
}

.chat-message {
    font-size: 0.8rem;
}

.chat-time {
    /* align-self: flex-end; */
    color: var(--light-teal-blue);
    font-size: 0.7rem;
}

.message-input-and-send-div {
    /* height: 500px; */
    /* z-index: 10; */
    /* position: fixed; */
    bottom: 60px;
    margin-left: 0px;
    bottom: 0;
    background-color: white;
    padding: 30px 35px 60px 40px;
    box-shadow: rgba(4, 74, 111, 0.5) 0px 0px 30px -15px;

    display: flex;
    justify-content: center;
}

.message-input-and-send-item {
    margin: 0px 10px;
}

.message-input {
    border: 1px solid var(--pale-grey);
    border-radius: 3px;
    width: 250px;
    padding: 0px 5px;
}

.send-message-btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--pale-blue);
    transition: 0.2s;
    transition-timing-function: ease;
	transition-delay: 0.05s;
}

.send-message-btn:hover {
    background-color: var(--light-blue);
}

.send-message-btn:active {
    transform: translateX(20px);
}

.message-error {
    position: absolute;
    /* left: 0; */
    transform: translate(-90px, 40px);
}



/************* MODALS **************/
.login-modal, .signup-modal, .settings-modal {
    z-index: 7;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: none; */
    background-color: white;
    padding: 40px;
    border: 1px solid var(--pale-grey);
    border-radius: 10px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
    height: 400px;
    top: 0px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: rgba(4, 74, 111, 0.5) 0px 8px 30px -18px;
    transition: 0.3s;
}

.settings-modal {
    height: 550px;
    width: 600px;
}

.settings-header {
    display: flex;
    align-items: center;
    font-size: 2.0rem;
    font-weight: 600px;
    margin-bottom: 20px;
}

.settings-modal .material-icons {
    font-size: 1.5rem;
    margin-right: 10px;
}

.length-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 20px 0px; 
}

.settings-error {
    margin-left: 230px;
}

/****HIDE RADIOS FIRST*****/
.length-choices input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.length-choices label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 70px;
    font-size: 16px;
    margin: 0px 10px;
    border: 1px solid var(--pale-grey);
    border-radius: 3px;
}

.length-choices input[type="radio"]:checked + label {
    color: white;
    background-color:var(--green);
    border-color: var(--pale-green);
}

.length-choices input[type="radio"]:hover + label {
    /* background-color: var(--pale-green); */
    border: 1px solid var(--light-green);
}

.length-choices input[type="radio"]:focus + label {
    border: 1px solid var(--light-green);
}


.custom-text-input {
    padding: 10px;
    width: 400px;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    resize: vertical;
    margin: 10px 0px 20px 0px;
}

.choice-save-div {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.settings-save, .settings-cancel {
    margin: 10px;
}

.settings-cancel {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
}
.settings-cancel:hover {
    background-color: var(--pale-red);
}







.login-input-div, .signup-input-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input-div, .signup-input-div {
    margin-top: 20px;
}

.auth-input-div {
    display: flex;
    align-items: center;
    /* border: 1px solid var(--pale-grey); */
    border-radius: 5px;
    width: 80%;
    height: 55px;
    margin-bottom: 40px;
    transition: 0.2s;
}

.auth-input {
    font-size: 1rem;
    width: 100%;
    height: 80%;
    padding: 5px 10px 5px 44px;
    margin-left: -34px;
    border-radius: 5px;
    border: 1px solid var(--pale-grey);
}

.auth-input:focus, .auth-input:active, .auth-input:hover {
    border: 1px solid var(--blue);
    box-shadow: rgba(4, 74, 111, 0.5) 0px 8px 30px -18px;
}

.auth-modal .material-icons {
    font-size: 22px;
    padding-left: 10px;
    opacity: 0.5;
}

.auth-input-error {
    color: var(--red);
    font-size: 0.8rem;
    position: absolute;
    transform: translate(0px, 37px);
}

.auth-modal .cancel {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 5px;
    color: var(--red);
    opacity: 1;
    border-radius: 50px;
    transition: 0.2s;
}

.cancel:hover {
    background-color: var(--pale-red);
}

.cancel {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 5px;
    color: var(--red);
    border-radius: 50px;
    transition: 0.2s;
}

.auth-modal .cancel:hover {
    background-color: var(--pale-red);
}

.modal-login-btn {
    margin-top: 10px;
    margin-bottom: 25px;
}

.register-here {
    cursor: pointer;
    color: var(--teal-blue);
}



.signup-modal {
    height: 600px;
}

.modal-signup-btn {
    background-color: var(--teal-blue);
    margin-top: 10px;
    margin-bottom: 25px;
}

.modal-signup-btn:hover,  .modal-signup-btn:active{
    background-color: var(--light-teal-blue);
}

.login-here {
    cursor: pointer;
    color: var(--blue);
}




.loader {
    margin-left: 5px;
	border: 3px solid var(--pale-blue);
	border-radius: 50%;
	border-top: 3px solid transparent;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.caret-red {
    caret-color: var(--red);
}

.screen-fade {
    position: absolute;
    background-color: var(--main-grey);
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: 5;
}

.error::placeholder {
    color: var(--red);
}

.error {
    font-size: 0.8rem;
    color: var(--red);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}