html {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
*, *:before, *:after {
    box-sizing: inherit;

}

:root {
    --main-grey: #564a59;
    --light-grey: #a99bab;
    --pale-grey: #ece7ee;
    --teal-blue: #5490A0;
    --light-teal-blue: #69A4B5;
    --blue: #00a1e0ff;
    --light-blue: #45bdedff;
    --pale-blue: #ebf9ff;
    --red: #CC2836;
    --light-red: #DA4450;
    --green: #04b439;
    --ligh-green: #54cc78;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--main-grey);
    font-size: 16px;
    line-height: 1.5;
}

input:hover {
    border: 1px solid var(--light-blue);
}

input:focus {
    outline: none;
    border: 1px solid var(--light-blue);
}

button {
    font-family: inherit;
    display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1em;
    cursor: pointer;
	width: 80px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 3px;
    border: 0;
    color: white;
	background-color: var(--blue);
	transform: translate(0px, 0px);
	transition: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0.05s;
	opacity: 1;
}

button:hover {
    background-color: var(--light-blue);
    box-shadow: rgba(4, 74, 111, 0.5) 0px 10px 30px -15px;
    
}

@media (hover: none) {
    button:hover {
		color: #ffffff;
		background-color: #0789daff;
    }
}


/************** NAVIGATION BAR****************/

nav {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(4, 74, 111, 0.5) 0px 0px 25px -15px;
}

.home {
    margin: 15px 0px 15px 20px;
}

.upper-right-nav-div {
    display: flex;
    align-items: center;
    margin: 15px 20px 15px 0px;
}

.upper-right-nav {
    margin-left: 20px;
}

.material-icons.upper-right-nav {
    cursor: pointer;
    font-size: 30px;
}

.sign-up-btn {
    background-color: var(--teal-blue);
}

.sign-up-btn:hover {
    background-color: var(--light-teal-blue);
}

.log-out-btn {
    background-color: var(--red);
}

.log-out-btn:hover {
    background-color: var(--light-red);
}


/************** MAIN SECTION ****************/

.main-section {
    display: flex;
    width: 100vw;
    height: Calc(100vh - 60px);
}

.typing-column-div {
    position: relative;
    flex-grow: 1;
}

.chat-column-div {
    /* z-index: -1; */
    width: 400px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(4, 74, 111, 0.5) 0px 0px 30px -15px;
}

.message-input-and-send-div {
    display: flex;
    justify-content: center;
    margin: 30px 0px 60px 0px;
}

.message-input-and-send-item {
    margin: 0px 10px;
}

.message-input {
    border: 1px solid var(--pale-grey);
    border-radius: 3px;
    width: 250px;
    padding: 0px 5px;
}

.send-message-btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--pale-blue);
    transition: 0.2s;
    transition-timing-function: ease;
	transition-delay: 0.05s;
}

.send-message-btn:hover {
    background-color: var(--light-blue);
}

.send-message-btn:active {
    transform: translateX(20px);
}






.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}